<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="locbamlUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <locbamlUI.Properties.Settings>
            <setting name="ImportContainsHeader" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ImportCsvDelimiter" serializeAs="String">
                <value>,</value>
            </setting>
            <setting name="ExportContainsHeader" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExportCsvDelimiter" serializeAs="String">
                <value>,</value>
            </setting>
            <setting name="AllColumnsVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ManyColumnsVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FewColumnsVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SetColumnsReadOnly" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CultureInfoAutoHandling" serializeAs="String">
                <value>True</value>
            </setting>
        </locbamlUI.Properties.Settings>
    </userSettings>
</configuration>